<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= "似顔絵師「#{@artist.name}」" %>
      </h1>
      <h2 class="subtitle">
        I hope I'll have a close relationship with artists!
      </h2>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-3">
    <div class="tile">
      
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title"><%= "#{@artist.name}'s info" %></p>
          <p class="subtitle">With an image</p>
          <figure class="image image image is-128x128">
          </figure>
          <p class="subtitle">得意な絵の種類
            <%= @artist.arttype.name %></p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <% @artist.arts.each do |art| %>
              <div class="column is-6">
                <div class="card">
                  <div class="card-content">
                    <div class="card-image">
                      <figure class="image is-1by1">
                        <%= attachment_image_tag art, :image %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>

<section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <% @artist.arts.each do |art| %>
          <div class="column is-6">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <%= attachment_image_tag art, :image %>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>





<%= @artist.name %>
<%= @artist.arttype.name %>
<%= @artist.arttouch.name %>
<%= @artist.job_request %>
<%= @artist.profile %>
<%= @artist.price.name %>
<i class="fas fa-envelope"></i>
<% if !@artist.line.empty? %>
  <i class="fab fa-line"></i>
<% end %>
<% if !@artist.twitter.empty? %>
  <i class="fab fa-twitter-square"></i>
<% end %>