<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= "似顔絵師「#{@artist.name}」の詳細ページ/似顔絵作成依頼方法について" %>
      </h1>
      <h2 class="subtitle">
        I hope I'll have a close relationship with artists!
      </h2>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-3">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
          <div class="content has-text-centered">          
            <p class="title"><%= "#{@artist.name}'s information!" %></p>
            <figure class="image is-256x256 is-inline-block">
              <%= attachment_image_tag @artist, :profile_image %>
            </figure>
            <p>・得意な絵の種類  <i class="far fa-hand-point-right"></i>  <%= @artist.arttype.name %></p>
            <p>・得意な絵のタッチ  <i class="far fa-hand-point-right"></i>  <%= @artist.arttouch.name %></p>
            <p>・絵の価格  <i class="far fa-hand-point-right"></i>  <%= @artist.price.name %></p>
            <p>・依頼方法  <i class="far fa-hand-point-down"></i></p>
            <%= @artist.job_request %><br><br>
            <p>・プロフィール  <i class="far fa-hand-point-down"></i></p>
            <%= @artist.profile %><br><br>
            <p>・連絡先のリンクはこちら <i class="far fa-hand-point-down"></i></p>
              <a class="fas fa-envelope fa-3x" href="#"></a>
              <% if !@artist.line.empty? %>
                <a class="fab fa-line fa-3x" href="#"></a>
              <% end %>
              <% if !@artist.twitter.empty? %>
                <a class="fab fa-twitter-square fa-3x" href="#"></a>
              <% end %>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-light">
      <p class="title"><%= "#{@artist.name}'s arts!" %></p>
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <% @artist.arts.each do |art| %>
              <div class="column is-4">
                <div class="card">
                  <div class="card-content">
                    <div class="card-image">
                      <figure class="image is-1by1">
                        <%= attachment_image_tag art, :image %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>