<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        似顔絵登録＆削除フォーム
      </h1>
      <h2 class="subtitle">
         Welcome great caricature artist!
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="columns is-6">
        <%= form_with model: @art, url: arts_path, local: true do |f| %>
        <%= render 'shared/error_messages', model: @art %>

          <div class="field">
            <%= f.label :image, "似顔絵", class: "label" %>
            <%= f.attachment_field :image, class: "input is-success" %>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <%= f.label :arttype_id, "この絵の種類", class: "label" %>
              <div class="select is-primary">
                <%= f.collection_select(:arttype_id, Arttype.all, :id, :name, {} )%>
              </div>
            </div>

            <div class="control">
              <%= f.label :arttouch_id, "この絵のタッチ", class: "label" %>
              <div class="select is-primary">
                <%= f.collection_select(:arttouch_id, Arttouch.all, :id, :name, {} )%>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <%= f.submit "似顔絵登録", class: "button is-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @arts.each do |art| %>
        <% if current_artist.id == art.artist_id %>
          <div class="column is-6">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <%= attachment_image_tag art, :image %>
                  </figure>
                </div>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="title"><%= link_to "削除", art_path(art.id), method: :delete %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>