<!DOCTYPE html>
<html>
  <head>
    <title>ArtistmatchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" /> %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4" style="font-family: Arial Black;"><font color="white">Artist Match App</font></h1>
        <% end %>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <%= link_to "似顔絵師さん一覧", artists_path, class: "button is-light" %>
          </div>
          <div class="navbar-item">
            <%= link_to "似顔絵一覧", arts_path, class: "button is-light" %>
          </div>
          <div class="navbar-item">
            <%= link_to "マッチング", matchings_path, class: "button is-light" %>
          </div>
        </div>
        <div class="navbar-end">
          <a class="navbar-item">
          似顔絵師さんはこちら<i class="fas fa-arrow-alt-circle-right"></i>
          </a>
          <% if artist_signed_in? %>
            <div class="navbar-item">
              <%= link_to "登録情報の編集", edit_artist_path(current_artist.id), class: "button is-light" %>
            </div>
            <div class="navbar-item">
              <%= link_to "絵の登録＆削除", new_art_path, class: "button is-light" %>
            </div>
            <div class="navbar-item">
              <%= link_to "ログアウト", destroy_artist_session_path, method: :delete, class: "button is-light" %>
            </div>
          <% else %>
            <div class="navbar-item">
              <%= link_to "ログイン", new_artist_session_path, class: "button is-light" %>
            <div class="navbar-item">
              <%= link_to "新規登録", new_artist_registration_path, class: "button is-light" %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <div class="content has-text-centered">
            <h3 class="title">
              似顔絵掲載協力
            </h3>
            <h6 class="subtitle">
              青木猿頬様/ジャッキィ様/川上奈々の似顔絵屋さん様/うません_似顔絵師様/ヤマダタカエ@似顔絵師様/ようこう@鉛筆画始めました様にご協力頂き掲載させて頂きました。<br>
              誠にありがとうございます。
            </h6>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
